:root {
    --cor-principal: #367373;
    --cor-fundo-pagina: #EBF4F4;
    --teal-claro: #B4D9D5;
    --cor-fundo-card: #FFFFFF;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #1A1A1A;
    --cor-texto-secundario: #4A4A4A;
    --cor-texto-alternativo: #367373;
    --sombra-card: rgba(54, 115, 115, 0.099);
    --red-700: #b91c1c;
    --red-100: #fee2e2;
    --green-700: #15803d;
    --green-100: #d1fae5;
}

body[data-tema="padrao"][data-mode="light"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #367373;
    --cor-fundo-pagina: #EBF4F4;
    --cor-fundo-card: #FFFFFF;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #1A1A1A;
    --cor-texto-secundario: #4A4A4A;
    --cor-texto-alternativo: #367373;
    --sombra-card: rgba(54, 115, 115, 0.099);
    --red-700: #b91c1c;
    --red-100: #fee2e2;
    --green-700: #15803d;
    --green-100: #d1fae5;
}

body[data-tema="padrao"][data-mode="dark"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #367373;
    --cor-fundo-pagina: #020617;
    --cor-fundo-card: #011D1D;
    --cor-texto-escuro: #e5f6ff;
    --cor-texto-secundario: #94a3b8;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}

body[data-tema="vampirico"][data-mode="light"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #C00303;
    --cor-fundo-pagina: #0D0D0D;
    --cor-fundo-card: #020617;
    --cor-texto-escuro: #e5f6ff;
    --cor-texto-secundario: #94a3b8;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}

body[data-tema="purpura"][data-mode="light"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #680082;
    --cor-fundo-pagina: #E784FF;
    --cor-fundo-card: #FDF4FF;
    --cor-texto-escuro: #e5f6ff;
    --cor-texto-secundario: #94a3b8;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}

body[data-tema="purpura"][data-mode="dark"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #8700A8;
    --cor-fundo-pagina: #30003C;
    --cor-fundo-card: #380046;
    --cor-texto-escuro: #e5f6ff;
    --cor-texto-secundario: #94a3b8;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}

body[data-tema="branco"][data-mode="light"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #464646;
    --cor-fundo-pagina: #FEFEFE;
    --cor-fundo-card: #DDDDDD;
    --cor-texto-escuro: #1A1A1A;
    --cor-texto-secundario: #94a3b8;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}

body[data-tema="branco"][data-mode="dark"] {
    --teal-claro: #B4D9D5;
    --cor-principal: #7C7C7C;
    --cor-fundo-pagina: #111111;
    --cor-fundo-card: #000000;
    --cor-texto-escuro: #FFFFFF;
    --cor-texto-secundario: #FFFFFF;
    --cor-texto-alternativo: #7dd3fc;
    --sombra-card: rgba(15, 23, 42, 0.9);
    --red-700: #f87171;
    --red-100: #450a0a;
    --green-700: #4ade80;
    --green-100: #052e16;
}